@import './variables';
@import './grid';

body {
    padding: 0;
    margin: 0;

    .home {
        width: 100%;
        float: left;

        .search-result {        
            width: 100%;
            float: left;
            background-color: $color_blank;
        }
    }
}


h1,
h2,
h3,
h4,
h5,
h6,
label,
span,
div,
p {
    font-family: $font-family;
    font-weight: 400;
    color: $text-color-primary;
}